
body {
    font-family: serif;
}
body.entry {
    background: pink;
}
body.entry p {
    color: red;
}
body.page {
    background: green;
}
body.page p {
    color: yellow;
}


/*pagination*/

.page-navigation { 
     line-height : 2em; 
 } 
 .prev_page_link, .next_page_link, .page_no, .cur_page_no { 
     padding : 2px 4px; 
     border : 1px solid #cccccc; 
 } 
 .cur_page_no { 
     background-color : #666666; 
     color : #ffffff; 
 }

/*end*/


/*gnav*/

#gnavi {
    border-bottom : 1px solid #cccccc;
}
#gnavi-inner {
    padding: 0;
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#gnavi-inner ul {
    margin-left : 0;
    margin-bottom : 0;
    padding : 0 20px;
}
#gnavi-inner ul li {
    float : left;
    list-style-type : none;
    padding : 0 15px 3px;
    border-left : 1px solid #cccccc;
    font-size : 125%;
}
#gnavi-inner ul li.last {
    border-right : 1px  solid #cccccc;
}
/*end gnav*/
